body {
    font-family: Tahoma, sans-serif;
    height: 100vh;
}

.container.container1 {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 450px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

h2 {
    font-weight: bold;
}

label {
    float: left;
    opacity: 0.8;
}

label.required::after {
    content: "*";
    color: red;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.button1 {
    background-color: #1056fa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button.button1:hover {
    background-color: #0903af;
}