body {
    font-family: Tahoma, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #eef2f3, #a9cff0);
}

.container.container1 {
    background-color: white;
    padding: 30px;
    width: 450px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

label {
    float: left;
    opacity: 0.8;
}

label.required::after {
    content: "*";
    color: red;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.button1 {
    background-color: #1056fa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button.button1:hover {
    background-color: #0903af;
}

#errPW,
#errNPW,
#errReNPW {
    color: red;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #999;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #111;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #1056fa;
}