body {
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
=======
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1340px;
    
}

.col {
    width: 100%;
    height: 100%;
>>>>>>> 0a491b542b7a060413ebcf90e75aaea3efac08a8
    margin: 0;
    min-height: 100vh;
}

/*Header*/
.header {
    padding: 0 20px;
    margin: 0;
    max-width: 1200px;
    font-size: 14px;
    background-color: #fff;
    display: block;

}

.header,
.header-top {
    height: 100%;

}

.header-top {
    background-color: #1E90FF;
    min-height: 20px;
}

.header-main {
    background-color: rgba(255, 255, 255, 0.6);
    /* Nền trắng trong suốt 60% */
}

.header .flex-row-top,
.header .flex-col {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.center-in-header>ul,
.right-in-header,
.center-in-header ul>li,
.right-in-header a,
.search-contai {
    display: flex;

}

.center-in-header {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.right-in-header {
    justify-content: flex-end;
}

.center-bottom-hd,
.logo-in-header,
.con-shopping-cart,
.con-account,
.wrapper-input-se {
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
    display: flex;
}

#item-ct {
    flex: 1;
    margin: 0 7px;

}
.car-left i, .car-wrapper i{
    color: #1E90FF;
}

.header .header-container {
    width: 100%;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    max-width: 1200px;
    z-index: 999;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

input[type="search"] {
    border-color: #b9b9b9;
    border-width: 3px;
    border-style: solid;
    padding: 4px;
}

.header .btn-icon {
    display: flex;
    border: 3px solid #b9b9b9;
    min-width: 27px;
    background-color: #b9b9b9;
    box-sizing: border-box;
    flex-direction: column;
}

.header-container.header-stuck {
    transform: translateY(0);
}

.header .nav-left {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
<<<<<<< HEAD
=======
}

.nav li {
    display: flex;
    flex-grow: 1;
    color: white;
    padding: 0 0.7em;
    font-weight: 700;
    font-size: 0.8em;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.social-icons a {
    color: inherit;
    font-size: 1.25em;
    transition: color 0.3s ease;
}

.button.icon.circle {
    padding: 0.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #1E90FF;
    border: none;
}

.circle i {
    font-size: 1em;
}

/* header-center */
.color-header-center {
    background-color: #ffffff;
}

.row.row-center {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1340px;
}

.d-flex.list-item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.d-flex.list-item li {
    display: flex;
    flex-grow: 1;
    color: hsla(0, 0%, 7%, .85);
    font-weight: 700;
    font-style: normal;
    font-family: Lato, sans-serif;
    font-size: .8em;
}

.nav.d-flex.list-item li div {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.nav.d-flex.list-item li div i {
    width: 5%;
    text-align: center;
    font-size: 1.8em;
    padding: 5px 5px;
}

.row.row-center .img-logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
}

.row.row-center .img-logo img {

    max-height: 60px;


}

.row.row-center .col-lg-3 {
    margin-bottom: auto;
>>>>>>> 0a491b542b7a060413ebcf90e75aaea3efac08a8
    margin-top: auto;
}

<<<<<<< HEAD
.nav-left .nav-topbar {
    font-size: 14px;
    color: #fff;
}

.nav-topbar .uppercase {
    letter-spacing: .05em;
    font-weight: bolder;
    line-height: 1.2;
    text-transform: uppercase;
}

.nav-left>li,
.nav-left>li a {
    display: inline-block;
}

.nav-left>li {
    list-style: none;
    padding-right: 10px;

}

.header .nav-left {
=======
.row.balance-row {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.row .bag-shop {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.row .bag-shop .col1.text {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    flex-grow: 1;
    color: hsla(0, 0%, 7%, .85);
    font-weight: 700;
    font-style: normal;
    font-family: Lato, sans-serif;
    font-size: 1em;

}

.row .bag-shop .col1 {

    width: 100%;
    height: 100%;
  
}

.row .bag-shop .col1 i {
    display: flex;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.bag-shop .fa-bag-shopping {
    font-size: 1.5em;
}



/* =====================================
        SIDE BAR
    ======================================*/
.sidebar-inner {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f9f9f9;
}

.widget {
    margin-bottom: 1.5rem;
}

.sidebar-inner div form {
>>>>>>> 0a491b542b7a060413ebcf90e75aaea3efac08a8
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding: 0;
    margin: 0;
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header .icon-button {
    font-size: 24px;
    text-decoration: none;
}

.header .uppercase a,
.nav-topbar a {
    text-decoration: none;
    color: #fff;
}

.uppercase a:hover,
.nav-topbar a:hover {
    color: lightgrey;
}

.header .sub-menu {
    display: none;
    padding-left: 0;
    list-style-type: none;
}

<<<<<<< HEAD
.sub-menu li {
=======
/* =====================
    Wideget Styles
    ======================*/
.widget>ul>li>a {
    display: inline-block;
    flex: 1;
    width: 100%;
    padding: 6px 0;
}

/* =====================================
        col large-9 two
        =================================== */
.shop-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.product-detail {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
}

.product-image-wrapper {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.img-small {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    max-height: 100px;
}


.product-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.product-wrapper,
.product-short-description {
    margin-bottom: 15px;
    color: #666;
    line-height: 1.6;
}

.ux-quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-button {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

.quantity-input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}


.add-to-cart-button {
    background-color: #ff9800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #e68900;
}


.product-info-list {
    padding: 0;
    margin: 15px 0;
    font-size: 14px;
    color: #555;
}

.product-info-list li {
    margin-left: 50px;
>>>>>>> 0a491b542b7a060413ebcf90e75aaea3efac08a8
    padding: 5px 0;
}

#toggle-icon {
    color: #494747;
}

<<<<<<< HEAD
.cate-hd:hover+.sub-menu,
.sub-menu:hover {
    display: block;
}

.center-bottom-hd li,
.right-in-header li {
    list-style: none;
}

.center-bottom-hd li a,
.right-in-header li a {
    text-decoration: none;
    color: #494747;
}

.center-bottom-hd li a:hover,
.right-in-header li a:hover {
    color: rgb(23, 18, 18);
}

.logo-in-header img {
    height: 100%;

    max-width: 90px;

}

.right-in-header .is-line {
    border-left: 2px solid rgba(0, 0, 0, .1);
    height: 30px;
    margin: 0 7.5px;
    position: relative;
    vertical-align: middle;
}






/*Footer*/

.footer {
    padding: 0;
    margin: 0 20px;
    max-width: 1200px;
    font-size: 14px;
}

.footer-top {
=======

.social-icon {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    font-size: large;

}

.social-icon i {
    border: #6d6969 2px solid;
    padding: 7px 7px;
    border-radius: 50%;
}

/* large-9 */

.nav__bottom {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.nav__bottom .nav-bottom {
    display: flex;
    margin-left: 0;
    align-items: center;
    color: rgb(2, 2, 2);
    text-align: left;
    font-weight: 700;
    font-size: 0.8em;
    

}

.nav__bottom .nav-bottom1 {
    display: flex;
    margin-left: 0;
    align-items: center;
    color: rgb(2, 2, 2);
    padding: 0 0.7em;
    text-align: left;
    font-weight: 700;
    font-size: 0.8em;
    

}

.product_same_a {
>>>>>>> 0a491b542b7a060413ebcf90e75aaea3efac08a8
    display: flex;
    justify-content: center;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, .05);
    background-color: #777;
    color: #f1f1f1;
    padding: 0 85px
}

.footer-bottom {
    border: 1px solid rgba(13, 13, 13, 0.05);
}

.ft-uniform {
    flex: 1;
    padding: 15px;
}

.ft-policy {
    padding: 0;
}

.ft-introduce img {
    display: inline-block;
    height: auto;
    max-width: 30%;
    min-width: 50px;
    vertical-align: middle;
}

.footer h6 {
    text-align: left;
}

.ft-policy li {
    list-style: none;
}

.ft-policy li+li {
    border-top: 2px solid hsla(0, 0%, 100%, .08);
}

.footer-top .is-divider {
    background-color: hsla(0, 0%, 100%, .3);
    height: 2px;
    width: 100%;
    max-width: 30px;
    display: block;
    margin: 10px 0;

}

.footer-top a:hover,
.footer-bottom a:hover {
    color: lightgray;
}

.footer-top a,
.footer-top a:visited {
    color: #f1f1f1;
    text-decoration: none;
}

.footer-bottom a,
.footer-bottom a:visited {
    color: black;
    text-decoration: none;
}