body {
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-size: 14px;
}

/*Header*/
.header {
    padding: 0 20px;
    margin: 0;
    max-width: 1200px;
    background-color: #fff;
    display: block;

}

.header,
.header-top {
    height: 100%;

}

.header-top {
    background-color: #1E90FF;
    min-height: 20px;
    padding: 0 20px;
}

.header-main {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 20px;
}

.header .flex-row-top,
.header .flex-col {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.center-in-header>ul,
.right-in-header,
.center-in-header ul>li,
.right-in-header a,
.search-contai {
    display: flex;

}

.header .search-contai {
    justify-content: flex-start;
}

.center-in-header {
    width: 100%;
}

.center-bottom-hd,
.logo-in-header,
.con-shopping-cart,
.con-account {
    padding: 5px 0;
    margin: 0;
    display: flex;
}

#item-ct {
    margin: 0 7px;
}

.car-left i {
    color: #1E90FF;
    font-size: 25px;
}

.header .header-container {
    width: 100%;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    max-width: 1200px;
    z-index: 999;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

input[type="search"] {
    border-color: #b9b9b9;
    border-width: 3px;
    border-style: solid;
    padding: 4px;
}

.header .btn-icon {
    border: 3px solid #b9b9b9;
    background-color: #b9b9b9;
    box-sizing: border-box;
    flex-direction: column;
}

.header-container .header-stuck {
    transform: translateY(0);
}

.header .nav-left {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-left .nav-topbar {
    font-size: 14px;
    color: #fff;
}

.nav-topbar .uppercase {
    letter-spacing: .05em;
    font-weight: bolder;
    line-height: 1.2;
    text-transform: uppercase;
}

.header .nav-left>li,
.header .nav-left>li a {
    display: inline-block;
}

.header .nav-left>li {
    list-style: none;
    padding-right: 10px;

}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header .icon-button {
    font-size: 24px;
    text-decoration: none;
}

.header .nav-topbar {
    list-style: none;
}

.header .uppercase a,
.header .nav-topbar a {
    text-decoration: none;
    color: #fff;
}

.uppercase a:hover,
.nav-topbar a:hover {
    color: lightgrey;
}

.header .sub-menu li {
    padding: 5px 0;
}

.header #toggle-icon {
    color: #494747;
    margin-left: 2px;
}

.center-bottom-hd li,
.right-in-header li {
    list-style: none;
}

.center-bottom-hd li a,
.right-in-header li a {
    text-decoration: none;
    color: #494747;
}

.center-bottom-hd li a:hover,
.right-in-header li a:hover {
    color: rgb(23, 18, 18);
}

.logo-in-header img {
    height: 100%;
    max-width: 90px;
}

.con-account .car-wrapper .btn {
    border-radius: 20px;
    padding: 5px, 5px;
    background-color: #1E90FF;
    border: #1E90FF;
}

.con-account .car-wrapper .btn:hover {
    background-color: #0903af;
}

.right-in-header .is-line {
    border-left: 2px solid rgba(0, 0, 0, .1);
    height: 30px;
    margin: 0 7.5px;
    position: relative;
    vertical-align: middle;
}

.header .car-title {
    white-space: nowrap;
    padding-right: 5px;
}

.header .car-left {
    align-items: flex-end;
}

.center-category .category-bt {
    background-color: transparent;
    border: none;
    justify-content: flex-start;
    display: flex;
    color: #494747;
    padding-left: 2px;
    padding-right: 0;
}

.center-category .category-bt:focus {
    background-color: transparent;
    border: none;
}

.car-wrapper .account-dropdown-menu a i {
    padding-right: 5px;
    color: orangered;
}





/*Main*/
.main {
    padding: 20px;
    max-width: 1200px;
}

.pr-row,
.pr-col-row {
    display: flex;
    width: 100%;

}

.pr-image {
    width: 50px;
}

.pr-col-row {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
    width: auto;
}

/*pr-col*/
.pr-left,
.pr-right,
.pr-col-footer {
    margin: 0;
    padding: 0 15px 30px;
    position: relative;
    width: 100%;

}

.pr-left,
.pr-right {
    flex-basis: 50%;
    max-width: 50%;
}



/*Footer*/

.footer {
    padding: 0;
    margin: 0;
    max-width: 1200px;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: center;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, .05);
    background-color: #777;
    color: #f1f1f1;
    padding: 0 85px
}

.footer-bottom {
    border: 1px solid rgba(13, 13, 13, 0.05);
}

.ft-uniform {
    flex: 1;
    padding: 15px;
}

.ft-policy {
    padding: 0;
}

.ft-introduce img {
    display: inline-block;
    height: auto;
    max-width: 30%;
    min-width: 50px;
    vertical-align: middle;
}

.footer h6 {
    text-align: left;
}

.ft-policy li {
    list-style: none;
}

.ft-policy li+li {
    border-top: 2px solid hsla(0, 0%, 100%, .08);
}

.footer-top .is-divider {
    background-color: hsla(0, 0%, 100%, .3);
    height: 2px;
    width: 100%;
    max-width: 30px;
    display: block;
    margin: 10px 0;

}

.footer-top a:hover,
.footer-bottom a:hover {
    color: lightgray;
}

.footer-top a,
.footer-top a:visited {
    color: #f1f1f1;
    text-decoration: none;
}

.footer-bottom a,
.footer-bottom a:visited {
    color: black;
    text-decoration: none;
}