body {
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-size: 16px;
}

/*Header*/
.header {
    padding: 0 20px;
    margin: 0;
    max-width: 1200px;
    background-color: #fff;
    display: block;

}

.header,
.header-top {
    height: 100%;

}

.header-top {
    background-color: #1E90FF;
    min-height: 20px;
    padding: 0 20px;
}

.header-main {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 20px;
}

.header .flex-row-top,
.header .flex-col {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.center-in-header>ul,
.right-in-header,
.center-in-header ul>li,
.right-in-header a,
.search-contai {
    display: flex;

}

.header .search-contai {
    justify-content: flex-start;
}

.center-in-header {
    width: 100%;
}

.center-bottom-hd,
.logo-in-header,
.con-shopping-cart,
.con-account {
    padding: 5px 0;
    margin: 0;
    display: flex;
}

#item-ct {
    margin: 0 7px;
}

.car-left i {
    color: #1E90FF;
    font-size: 25px;
}

.header .header-container {
    width: 100%;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    max-width: 1200px;
    z-index: 999;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

input[type="search"] {
    border-color: #b9b9b9;
    border-width: 3px;
    border-style: solid;
    padding: 4px;
}

.header .btn-icon {
    border: 3px solid #b9b9b9;
    background-color: #b9b9b9;
    box-sizing: border-box;
    flex-direction: column;
}

.header-container .header-stuck {
    transform: translateY(0);
}

.header .nav-left {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-left .nav-topbar {
    font-size: 14px;
    color: #fff;
}

.nav-topbar .uppercase {
    letter-spacing: .05em;
    font-weight: bolder;
    line-height: 1.2;
    text-transform: uppercase;
}

.header .nav-left>li,
.header .nav-left>li a {
    display: inline-block;
}

.header .nav-left>li {
    list-style: none;
    padding-right: 10px;

}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header .icon-button {
    font-size: 24px;
    text-decoration: none;
}

.header .nav-topbar {
    list-style: none;
}

.header .uppercase a,
.header .nav-topbar a {
    text-decoration: none;
    color: #fff;
}

.uppercase a:hover,
.nav-topbar a:hover {
    color: lightgrey;
}

.header .sub-menu li {
    padding: 5px 0;
}

.header #toggle-icon {
    color: #494747;
    margin-left: 2px;
}

.center-bottom-hd li,
.right-in-header li {
    list-style: none;
}

.center-bottom-hd li a,
.right-in-header li a {
    text-decoration: none;
    color: #494747;
}

.center-bottom-hd li a:hover,
.right-in-header li a:hover {
    color: rgb(23, 18, 18);
}

.logo-in-header img {
    height: 100%;
    max-width: 90px;
}

.con-account .car-wrapper .btn {
    border-radius: 20px;
    padding: 5px, 5px;
    background-color: #1E90FF;
    border: #1E90FF;
}

.con-account .car-wrapper .btn:hover {
    background-color: #0903af;
}

.right-in-header .is-line {
    border-left: 2px solid rgba(0, 0, 0, .1);
    height: 30px;
    margin: 0 7.5px;
    position: relative;
    vertical-align: middle;
}

.header .car-title {
    white-space: nowrap;
    padding-right: 5px;
}

.header .car-left {
    align-items: flex-end;
}

.center-category .category-bt {
    background-color: transparent;
    border: none;
    justify-content: flex-start;
    display: flex;
    color: #494747;
    padding-left: 2px;
    padding-right: 0;
}

.center-category .category-bt:focus {
    background-color: transparent;
    border: none;
}

.car-wrapper .account-dropdown-menu a i {
    padding-right: 5px;
    color: orangered;
}





/*Main*/
.main {
    padding: 0;
    max-width: 1200px;
}

.product-main {
    padding: 30px 0;
}


.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.col {
    margin: 0;
    padding: 0 15px 30px;
    position: relative;
    width: 100%;
}

.col {
    flex: 1 0 0%;
}

.pr-left {
    max-width: 8%;

}

.pr-left .widget ul {
    margin: 0;
    padding: 0;
}

.pr-left .widget>ul>li {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    text-align: left;
    border-bottom: #494747 1px solid;
    margin-bottom: 2px;
}

.list-categories li a {
    text-decoration: none;
    color: #494747;
    display: inline-block;
    white-space: nowrap;
}

.price-wrapper .product-page-price {
    display: block;
    font-size: 1.5em;
    font-weight: bolder;
    margin: .5em 0;
    line-height: 1;

}

.pr-image img {
    max-width: 90%;
}

.pr-image a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-page-price .price-amount {
    color: #111;
    font-weight: 700;
    white-space: nowrap;
}

.variations {
    position: relative;
    border-color: #ececec;
    border-spacing: 0;
    margin-bottom: 1em;
    width: 100%;
}

.variations .label {
    padding-right: 20px;
}

.variations .value {
    width: 100%;
}

.variations td,
.variations th {
    border: 0;
    letter-spacing: normal;
    padding: .2em 0;
    text-transform: none;
    vertical-align: middle;
}

.variations th {
    letter-spacing: .05em;
    line-height: 1.05;
}

.variations td {
    color: #666;
}

.variations label {
    white-space: nowrap;
    color: #222;
}

td:last-child,
th:last-child {
    padding-right: 0;
}

.variations .value select:hover {
    box-shadow: inset 0 -1.8em 1em 0 transparent;
}


.variations td select {
    margin: .5em 0;
    text-transform: none;
    font: inherit;
    box-shadow: inset 0 -1.4em 1em 0 rgba(0, 0, 0, .02);
    background-size: auto 16px;
    border-radius: 0;
    display: block;
    padding-right: 1.4em;
    border: 1px solid #ddd;
    color: #666;
    padding: 5px;
}

.single-variation .add-quantity {
    padding: .5em 0;
    display: flex;
    flex-direction: column;

}

.single-variation .price-contai,
.product-description {
    border-top: 1px dashed #ddd;
    padding: 7.5px 0;
}

.single-variation .price {
    font-size: 1.5em;
    font-weight: bolder;
    margin: .5em 0;
    line-height: 1;
    color: #111;
    font-weight: 700;
    white-space: nowrap;
}

.add-quantity .btn-quatity {
    margin-bottom: 1em;
    display: inline-flex;
    margin-right: 1em;
    opacity: 1;
    vertical-align: top;
    white-space: nowrap;
}

.btn-quatity .is-form,
input[type=button].is-form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #666;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    text-shadow: 1px 1px 1px #fff;
    text-transform: none;
    width: 25px;
}

.btn-quatity .input-reduce {
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
}

.btn-quatity .input-increase {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-top-left-radius: 0;
}

.btn-quatity input[type=number] {
    border-radius: 0;
    font-size: 1em;
    max-width: 2.5em;
    text-align: center;
    width: 2.5em;
    color: #666;
    border: 1px solid #ddd;
}

.btn-add-contai {
    display: inline-flex;
    gap: 20px;
}

.btn-add-contai .btn-add,
.form-submit input[type=submit] {
    background-color: #1E90FF;
    font-size: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    margin-top: 0;
    border-color: #1E90FF;
    color: #fff;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: bolder;
    letter-spacing: .03em;
    line-height: 2.4em;
    max-width: 100%;
    min-height: 2.5em;
    padding: 0 1.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-add-contai .payment a {
    text-decoration: none;
    color: #fff;
}

.product-description {
    font-size: 16px;
    margin-bottom: 1em;
    color: #777;
}

.product-description .description-content {
    display: block;
    padding: 5px 0;
}

.panels {
    border-top: 3px solid #ececec;
    padding: 30px 0;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.panels p {
    margin-top: 0;
    margin-bottom: 1.3em;
}

.col-inner {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.comment-respond {
    border: 2px solid #1E90FF;
    padding: 30px;
}

.woocommerce-noreviews {
    color: #777;
}

.comment-reply-title .small {
    display: inline-block;
    font-size: 80%;
}

.comment-form {
    margin-bottom: 1.3em;
}

.comment-form label {
    color: #222;
    display: block;
    font-size: .9em;
    font-weight: 700;
    margin-bottom: .4em;
}

.comment-form p {
    margin-bottom: .5em;
}

.main p {
    margin-top: 0;
}

.stars.stars a {
    color: #999;
    display: inline-block;
    font-family: fl-icons;
    font-size: 16px;
    overflow: hidden;
    touch-action: manipulation;
    text-decoration: none;
}

.stars.stars a span {
    color: transparent;
}

.comment-form span {
    color: red;
}

.comment-form-comment textarea,
.comment-form-author input[type=text] {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: #333;
    font-size: .97em;
    height: 2.507em;
    max-width: 100%;
    padding: 0 .75em;
    vertical-align: middle;
    width: 100%;
    overflow: auto;
}

.comment-form-comment textarea {
    min-height: 120px;
    padding-top: .7em;
}

.comment-form-cookies-consent input[type=checkbox]+label {
    display: inline;
}

lab .comment-form-cookies-consent input[type=checkbox] {
    display: inline;
    font-size: 16px;
    margin-right: 10px;
}

.comment-form-cookies-consent [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.form-submit input[type=submit]:hover {
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, .2);
    color: #fff;
    opacity: 1;
    outline: none;
}


h1 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.25em;
}

h1,
h3 {
    color: #555;
    margin-bottom: .5em;
    margin-top: 0;
    text-rendering: optimizeSpeed;
    width: 100%;
    font-weight: 700;
    font-style: normal;
}

.is-divider {
    background-color: rgba(0, 0, 0, .1);
    display: block;
    height: 4px;
    margin: 1em 0;
    max-width: 30px;
    width: 100%;
}





/*Footer*/

.footer {
    padding: 0;
    margin: 0;
    max-width: 1200px;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: center;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, .05);
    background-color: #777;
    color: #f1f1f1;
    padding: 0 85px
}

.footer-bottom {
    border: 1px solid rgba(13, 13, 13, 0.05);
}

.ft-uniform {
    flex: 1;
    padding: 15px;
}

.ft-policy {
    padding: 0;
}

.ft-introduce img {
    display: inline-block;
    height: auto;
    max-width: 30%;
    min-width: 50px;
    vertical-align: middle;
}

.footer h6 {
    text-align: left;
}

.ft-policy li {
    list-style: none;
}

.ft-policy li+li {
    border-top: 2px solid hsla(0, 0%, 100%, .08);
}

.footer-top .is-divider {
    background-color: hsla(0, 0%, 100%, .3);
    height: 2px;
    width: 100%;
    max-width: 30px;
    display: block;
    margin: 10px 0;

}

.footer-top a:hover,
.footer-bottom a:hover {
    color: lightgray;
}

.footer-top a,
.footer-top a:visited {
    color: #f1f1f1;
    text-decoration: none;
}

.footer-bottom a,
.footer-bottom a:visited {
    color: black;
    text-decoration: none;
}