body {
    font-family: Tahoma, sans-serif;
    height: 100vh;
    margin: 0;
}

.container.container1 {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 450px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* duoi */
h2 {
    font-weight: bold;
}

#verification {
    margin-left: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    float: left;
    opacity: 0.8;
}

label.required::after {
    content: "*";
    color: red;
}

button.button1 {
    background-color: #1056fa;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0903af;
}