
/* =======================
    Typography Styles
    ============= */
a {
    text-decoration: none;
    color: #334862;
}

* {
    box-sizing: border-box;
}

/* =====================================
       Global Styles
    ===================================== */
body {
    font-weight: 400;
    font-style: normal;
    font-family: Lato, sans-serif;
    line-height: 1.6;

}

div {
    display: block;
}

.container,
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.container {
    max-width: 1340px;
    margin: auto;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}


aside {
    display: block;
}

/* ==================
    Header
==========*/

.header,
.header-wrapper {
    position: relative;
    width: 100%;
    background-position: 50% 0;
    background-size: cover;
    transition: background-color .3s, opacity .3s;
}

.header-top {
    background-color: #1E90FF !important;
    min-height: 20px;
}

.header .flex-row {
    height: 100%;
}

.nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.nav li {
    display: flex;
    flex-grow: 1;
    color: white;
    padding: 0 0.7em;
    font-weight: 700;
    font-size: 0.8em;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.social-icons a {
    color: inherit;
    font-size: 1.25em;
    transition: color 0.3s ease;
}

.button.icon.circle {
    padding: 0.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #1E90FF;
    border: none;
}

.circle i {
    font-size: 1em;
}

/* header-center */
.color-header-center {
    background-color: #ffffff;
}

.row.row-center {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1340px;
}
.d-flex.list-item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.d-flex.list-item li {
    display: flex;
    flex-grow: 1;
    color: hsla(0, 0%, 7%, .85);
    font-weight: 700;
    font-style: normal;
    font-family: Lato, sans-serif;
    font-size: .8em;
}

.nav.d-flex.list-item li div {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.nav.d-flex.list-item li div i {
    width: 5%;
    text-align: center;
    font-size: 1.8em;
    padding: 5px 5px;
}

.row.row-center .img-logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
}

.row.row-center .img-logo img {

    max-height: 60px;


}

.row.row-center .col-lg-2 {
    margin-bottom: auto;
    margin-top: auto;

}
.row.balance-row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.row .bag-shop {
   display: flex;
   align-items: center;
   text-align: center;
   gap: 20px; 

}

.row .bag-shop .col1.text {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    flex-grow: 1;
    color: hsla(0, 0%, 7%, .85);
    font-weight: 700;
    font-style: normal;
    font-family: Lato, sans-serif;
    font-size: 1em;

}

.row .bag-shop .col1 {

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.row .bag-shop .col1 i {
    display: flex;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.bag-shop .fa-bag-shopping {
    font-size: 1.5em;
    /* Điều chỉnh kích thước icon */
}


/*main */
main {
    display: block;
    unicode-bidi: isolate;
}

.padding-all-top {
    padding-top: 30px;
}
.row {
    display: flex;
    gap: 15px; 
    flex-wrap: wrap; 
}
.col {
    flex: 1 1 calc(20% - 15px); /* Box width adjusted to fit 5 in a row with gap */
    max-width: calc(20% - 15px);
}
.padding-p {

    gap: 15px;

}

.container.padding-all-top  h4 {
    width: 100%;
    padding-bottom: 20px;
}

.row.row-cols-1.row-cols-sm-2 {
    display: flex;
}
.col.box-hover , .product-small.box {
   border: 1px solid #e5e5e5;

}
.box-text.text-center .title-wrapper p {
    padding-top: 10px;
}
.s3_c {
    display: flex;
    padding: 5px 15px;
    font-weight: 500;
    line-height: 1.23;
    align-items: center;
    justify-content: flex-start;
}
.text-fontweight {
    font-weight: bold;
}
/* fix */
/* .col.box-hover:hover {
    border: 1px solid #e5e5e5;
    transition: border-color 0.3s ease;
}

.col.box-hover .col-inner:hover {
    color: #999;
} */
/* s4 */
.s4 {
    padding-bottom: 30px;
    padding-top: 40px;
}

.s {
    display: block;
    position: relative;
    z-index: 1;
}

/* s5 */
.s5_m {
    display: flex;
    justify-content: space-between;
}

.s5_i {
    width: calc(50% - 15px);
    background-color: #f6f6f6;
    border-radius: 2px;
    padding: 28px 28px 28px 227px;
    position: relative;
    min-height: 218px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.s5_a {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    padding: 6px;
    position: absolute;
    left: 28px;
    top: 20%;


}

.s5_a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.s5_n {
    font-size: 1.6rem;
    font-weight: 600;
}

.s5_j {
    font-size: 1.2rem;
    color: #666;
}