/* Body */
body {
    font-family: Tahoma, sans-serif;
    background-color: #f0f0f0;
    backdrop-filter: blur(5px); /* Làm mờ nhẹ nền phía sau */
}

/* main */
main{
    background: linear-gradient(to bottom, #eef2f3, #a9cff0);
}
/* Container chính */
.container.container1 {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Tăng độ mờ và bán kính đổ bóng */
    border: 2px solid #cccfd1; /* Viền xanh nổi bật */
    text-align: center;
    position: relative; /* Để định vị các phần tử con như nút "X" */
    z-index: 10; /* Đảm bảo phần này nằm trên cùng */
}

/* Nút "X" */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.close-btn:hover {
    color: #ff0000;
}

/* Tiêu đề thông tin */
.info {
    display: flex;
    font-weight: bold;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.65);
}

/* Phần điều khoản */
.form-terms {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-terms input {
    margin-right: 10px;
    /* Khoảng cách giữa checkbox và label */
    margin-right: 10px; /* Khoảng cách giữa checkbox và label */
    width: auto;
}

.form-terms label {
    display: inline-block;
    /* Đảm bảo label nằm trên cùng dòng */
}

.form-terms input {
    width: auto;
}

#verification {
    text-align: left;
}

.info-login input,
.info-customer input,
/* Input và Select */
.info-login input, .info-customer input,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Các nhóm form */
.form-group.form1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group.form1 .wrapper {
    width: 60%;
}

/* Button chính */
button.button-real {
    background-color: #1056fa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin-top: 10px;
}

button.button-real:hover {
    background-color: #0903af;
}

/* Nhãn bắt buộc */
label {
    margin-bottom: 5px;
}

label.required::after,
.lgender::after {
    content: "*";
    color: red;
}

/* Phần giới tính */
.wrapper-gender {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gender-container label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gender-container input {
    margin: 2px;
}

/* Link xác minh */
.verify-now {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.form-group .wrapper span {
    color: red;
}