/* body */
body {
    font-family: Tahoma, sans-serif;
}
/* main */
.container.container1 {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* duoi or main */
.info {
    display: flex;
    font-weight: bold;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.65);
}

.form-terms {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-terms input {
    margin-right: 10px; /* Khoảng cách giữa checkbox và label */
}

.form-terms label {
    display: inline-block; /* Đảm bảo label nằm trên cùng dòng */
}

.form-terms input {
    width: auto;
}

#verification {
    text-align: left;
}

.info-login input,.info-customer input,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group.form1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.form-group.form1 .wrapper {
    width: 60%;
}

button.button-real {
    background-color: #1056fa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    margin-top: 10px;
}

button.button-real:focus {
    background-color: #0903af;
}

label {
    margin-bottom: 5px;
}

label.required::after,
.lgender::after {
    content: "*";
    color: red;
}

.wrapper-gender {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gender-container label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.gender-container input {
    margin: 2px;
}

.verify-now {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
