/* Biến chung */
:root {
    --font_size_all: 1rem;
    --font_weight_all: 500;
    --color_backgroud:#3a97e9;
    --font_family: "Poppins", sans-serif;
    --color: #212529;
    --line_height: 1.2rem;
    --color_gray: #767676;
}

/* Reset và cấu hình mặc định */
* {
    font-size: var(--font_size_all);
    font-weight: var(--font_weight_all);
    font-family: var(--font_family);
    color: var(--color);
    line-height: var(--line_height);
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

/* Định dạng form */
.signup {
    padding: 30px 0;
}

.contain {
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    width: 400px;
    background: #FFFFFF;
    margin: auto;
    border-radius: 5px;
    text-align: center; /* Căn chữ vào giữa */
}

.signup-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa các nội dung bên trong */
    justify-content: center;
}

.form-group {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa nội dung trong nhóm */
}

.form-group input {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 0;
    text-indent: 5px;
    text-align: center; /* Căn chữ trong ô input */
}

.form-group input:focus {
    outline-color: rgba(194, 219, 254, 1);
}

button {
    margin-bottom: 10px;
    background: #3a97e9;
    color: white;
    padding: 10px;
    padding-right: 16px;
    font-weight: 700;
    border: none;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

/* Xác thực */
.verify {
    margin: 10px;
}

.verify a {
    text-decoration-line: none;
    color: #3a97e9;
}

/* Căn giữa chữ trong phần xác thực */
.verify p {
    text-align: center;
}
